{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron" style="text-align: center; background-image: url('{% static 'images/bg1.jpg' %}'); background-repeat: no-repeat; background-position: center; background-size: 100%; width: 100%;">
  <button class="btn btn-primary">Login</button>
  <button class="btn btn-warning" onclick="window.location.href='{% url 'login:signup' %}'">Register</button>
</div>

<!--
<div class="container">
    <div class="row" style="text-align: center;">
                  <div class="col" >
                    <div class="jumbotron" style="text-align: center; background-image: url('{% static 'images/bg1.jpg' %}'); background-repeat: no-repeat; background-position: center; background-size: 100%; width: 100%;">

                    </div>
                  </div>
                  <div class="col">
                    <div class="jumbotron" style="text-align: center; background-image: url('{% static 'images/bg1.jpg' %}'); background-repeat: no-repeat; background-position: center; background-size: 100%; width: 100%;">

                    </div>
                  </div>
                  <div class="col">
                    <div class="jumbotron" style="text-align: center; background-image: url('{% static 'images/bg1.jpg' %}'); background-repeat: no-repeat; background-position: center; background-size: 100%; width: 100%;">

                    </div>
                  </div>
                  <div class="col">
                    <div class="jumbotron" style="text-align: center; background-image: url('{% static 'images/bg1.jpg' %}'); background-repeat: no-repeat; background-position: center; background-size: 100%; width: 100%;">

                    </div>
                  </div>
              </div>
    </div>
</div>
-->

{% endblock %}
